.body{
    background-color: rgb(0, 0, 105);
    height: max-content;
}
.general_container {
    height: 100vh;
    background-color: transparent;
    border: none;
}

.login_container {
    transform: translate(50%, 10%);
}

.img_container {
    color: blue;
    height: 30rem;
    display: flex;
    padding: 0;
}

.form_container {
    background-color: #ffff;
    height: 30rem;
    border-radius: 0 15px 15px 0;
}

.btn_login {
    background-color: #ffc400;
    border: none;
}

@media screen and (max-width: 1000px) {
    .general_container {
        width: 100%;
    }

    .login_container {
        transform: translate(12%, 0%);
        width: 100%;
    }

    .img_container {
        display: none;
    }

    .form_container {
        background-color: #ffff;
        width: 80%;
        height: 30rem;
        border-radius: 15px 15px 15px 15px;
    }
}