.container_img {
    background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.582),
        rgba(70, 70, 100, 0.589)
      ), url('../layout/images/fondoinicio.jpg');
    background-image: no-repeat;
    background-image: fixed;
    background-image: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 50%;
}

.text{
    color: #fff;
    border-radius: 5px;
    background-color: #00257aab;
    padding: 15px 5px 15px 5px;
}

@media screen and (max-width: 500px) {
    .container_img{
        padding-top: 150px;
    }
    .text{
        font-size: 18px;
        color: #ffffff;
        border-radius: 5px;
        background-color: #00257aab;
        padding: 15px 0 15px 0;
    }
}